*~
.DS_Store
.github/scripts/.Brewfile.lock.json
build_arm64/
release/
src/model/build/
src/plugin_macros.h
src/onnxtest/imagenet-simple-labels.json
src/onnxtest/resnet50v2.tar.gz
src/onnxtest/resnet50v2/
